body{
    margin: 0;
    font-family:Georgia;
    text-align: center;
}
header{
    padding: 10;
    text-align: center;
}
#corvermelha{
    background-color: crimson;
    color: white;
    height: 10%;
    padding-top: 30;
    padding-bottom: 30;
    margin-right: 89.5%;
}
#corlaranja{
    background-color: orange;
    height: 10%;
    margin-left: 5%;
    margin-right: 84.0%;
    padding-top: 30;
    padding-bottom: 30;
}
#coramarelo{
    background-color: yellow;
    height: 10%;
    margin-left: 11.0%;
    margin-right: 78.5%;
    padding-top: 30;
    padding-bottom: 30;
}
#coraverde{
    background-color: rgb(121, 184, 121);
    height: 10%;
    margin-left: 15.0%;
    margin-right: 74.0%;
    padding-top: 30;
    padding-bottom: 30;
}
#corazul{
    background-color: rgb(73, 96, 226);
    color: white;
    height: 10%;
    margin-left: 19.0%;
    margin-right: 70.0%;
    padding-top: 30;
    padding-bottom: 30;
}
#coraroxo{
    background-color: blueviolet;
    color: white;
    height: 10%;
    margin-left: 23.0%;
    margin-right: 66.0%;
    padding-top: 30;
    padding-bottom: 30;
}